.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: url("https://media1.giphy.com/media/6Ekkbn42Lqdig/giphy.gif?cid=790b76110d212691c7fd436bb58349ac5055d07badca3ff9&rid=giphy.gif&ct=g");
    background-repeat: repeat-x;
}