---
---
@import "{{ site.theme }}";
body {
  background-color: #FAFAFA;
  color: #6E7580;
}

a {
  color: #399EE6;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: #1F2430;
  background-image: none;
  padding: 2rem 4rem;
}

.project-tagline {
    display: none;
}

.btn {
  display: none;
}

.topnav{
  text-align: center;
  box-sizing: unset;
}

.topnav a{
  color: #86B300;
  padding: 0.5em;
}


.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #FA6E32;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }
}

.homepage-icons{
  text-align: center;
}

.homepage-icons li {
  display: inline;
}

.site-footer {
  display: none;
}

.navbar {
  text-align: center;
  box-sizing: unset;
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}