---
---
@import "{{ site.theme }}";
body {
  color: #b3b1ad;
  background-color: #0a0e14;}

a {
  color: $body-link-color;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
}

.project-tagline {
    display: none;
}

.btn {
  display: none;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ff8f40;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }
}