---
---
@import "{{ site.theme }}";
body {
  color: $token;
  background-color: $token;}

a {
  color: $body-link-color;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
}

.project-tagline {
    display: none;
}

.btn {
  display: none;
}

.topnav{
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ff8f40;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }
}